$primary-color: blue;
$secondary-color: red;

.container {
    text-align: center;
    margin-top: 100px;

h1 {
    font-size: 24px;
}
#btn {
    padding: 10px 20 px;
    font-size: 18px;

&:hover {
    background-color: $secondary-color;
}

&:active {
    background-color: $primary-color;
    color: white;
}
}
}
#status {
font-size: 20px;

@if $primary-color == blue {
    color: $primary-color;
} @else if $primary-color == red {
    color : $secondary-color;
} @else {
    color: black;
}
}