/*$primary-font: "Amatic SC", sans-serif;
$transition-duration: 0.3s;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$hover-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
$primary-color: crimson;
$btn-transition-speed: 0.3s;*/

.hero {
  width: 100%;
  background-size: cover;
  position: relative;
  min-height: 75vh;
  padding: 180px 0 80px 0;
  background-image: url('../assets/img/bg.jpg');
}

.section-bg {
  background-color: #eee;
}

.hero h2 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Amatic SC", sans-serif;
  color: crimson;
  span {
    color: variable.$primary-color;
  }
}

.hero p {
  color: #4f4f5a;
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 25px;
}

.col-lg-5 img {
  transition: transform variable.$transition-duration ease;

  &:hover {
    transform: scale(1.1);
  }
}

.hero .btn-book-a-table {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 36px;
  border-radius: 50px;
  transition: variable.$btn-transition-speed;
  color: #fff;
  background: variable.$primary-color;
  box-shadow: variable.$box-shadow;

  &:hover {
    background: darken(variable.$primary-color, 10%);
    box-shadow: variable.$hover-shadow;
  }
}

i {
  color: variable.$primary-color;
  font-size: 32px;
  transition: variable.$transition-duration;
  line-height: 0;
  margin-right: 8px;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
  height: 100vh;
  background-color: #F8DA8B;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow variable.$transition-duration, transform variable.$transition-duration;
}

.centered-content {
  text-align: center;
  padding: 20px;
  background-color: variable.$primary-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Lalezar", cursive;
  color: black;

  &:hover {
    box-shadow: variable.$hover-shadow;
    transform: scale(1.05);
  }
}

.centered-image {
  max-width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.custom-container {
  max-width: 800px;
  margin: 0 auto;
}
