/*$primary-color: #ce1212;
$error-message-bg: #df1529;
$sent-message-bg: #059652;*/

@use 'variable';
@import 'about';
@import 'contact';
@import 'function';
@import 'header';
@import 'hero';
@import 'menu';
@import 'testimonials';
@import 'navbar';

@function lighten-color($color, $percent) {
  @return lighten($color, $percent);
}

/* Test for $font-stack variable */
body {
  font-family: variable.$font-stack;
  color: #212529;
  background-image: none;
}

/* Test for $swiper-pagination-bullet-color variable */
@if variable.$swiper-pagination-bullet-color {
  .gallery .swiper-pagination .swiper-pagination-bullet {
    background-color: variable.$swiper-pagination-bullet-color;
  }
}

/* Test for $swiper-pagination-bullet-active-color variable */
@if variable.$swiper-pagination-bullet-active-color {
  .gallery .swiper-pagination .swiper-pagination-bullet-active {
    background-color: variable.$swiper-pagination-bullet-active-color;
  }
}

/* Loop for generating .swiper-pagination-bullet styles */
@for $i from 1 through 3 {
  .gallery .swiper-pagination .swiper-pagination-bullet:nth-child(#{$i}) {
    width: 15px;
    height: 12px;
    background-color: if($i == 2, variable.$primary-color, variable.$swiper-pagination-bullet-color);
    opacity: 1;
  }
}

/* Styles for Scroll top button */
.scroll-top {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 9;
  font-size: 20px;
  color: #fff;
  background: variable.$primary-color;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
  transition: variable.$transition-duration;

  &:hover {
    background: hover-color(variable.$primary-color);
  }
}

/* Loop for adding styles to .swiper-slide-active */
.gallery .swiper-slide-active {
  text-align: center;

  @media (min-width: 992px) {
    border: 6px solid variable.$primary-color;
    padding: 4px;
    background: #fff;
    z-index: 1;
    transform: scale(1.2);
  }
}

/* Loop for adding padding to .swiper-wrapper */
@media (min-width: 992px) {
  .gallery .swiper-wrapper {
    padding: 40px 0;
  }
}

/* Loop for adding styles to .search-button */
.search-button {
  background-color: crimson;
  border-color: crimson;
  color: #fff;

  &:hover {
    background-color: darken(variable.$primary-color, 10%);
    border-color: darken(variable.$primary-color, 10%);
  }
}
/* Section */
section {
  scroll-margin-top: calculate-header-height(90px, 70px);
}