/*section*/
/*Hero*/
/*About*/
/*Menu*/
/*Testimonials*/
/*Contact*/
/* About Section styles */
.about .section-header h2 {
  font-family: "Amatic SC", sans-serif;
  font-size: 25px;
  color: #4f4f5a;
}
.about .section-header p {
  font-family: "Amatic SC", sans-serif;
  font-size: 65px;
  color: #ce1212;
}
.about .about-img {
  min-height: 500px;
}
.about h3 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 30px;
  font-family: "Inter", sans-serif;
}
.about .call-us {
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: #fff;
  box-shadow: 0px 2px 25px rgb(0, 2, 25);
  padding: 20px;
  text-align: center;
}
.about .call-us h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.about .call-us p {
  font-size: 28px;
  font-weight: 700;
  color: #ce1212;
}
.about .call-us .content ul {
  list-style: none;
  padding: 0;
}
.about .call-us .content ul li {
  padding: 0 0 8px 26px;
  position: relative;
}
.about .call-us .content ul li i {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: -3px;
  color: #ce1212;
}
.about .call-us .content p:last-child {
  margin-bottom: 0;
}
.about .call-us .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#ce1212 50%, rgba(206, 18, 18, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}
.about .call-us .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation: pulsate-btn 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid var(--color-primary);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}
.about .call-us .play-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.about .call-us .play-btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}
.about .call-us .play-btn:hover:after {
  border-left: 15px solid #ce1212;
  transform: scale(20);
}

/* Contact Section styles */
.contact .info-item {
  background: #f4f4f4;
  padding: 30px;
  height: 100%;
}
.contact .info-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 0;
  color: #fff;
  background: #ce1212;
  border-radius: 50%;
  margin-right: 15px;
}
.contact .info-item h3 {
  font-size: 20px;
  color: #6c757d;
  font-weight: 700;
  margin: 0 0 5px 0;
}
.contact .info-item p {
  padding: 0;
  margin: 0;
  line-height: 24px;
  font-size: 14px;
}
.contact .info-item .social-links a {
  font-size: 24px;
  display: inline-block;
  color: rgba(55, 55, 63, 0.7);
  line-height: 1;
  margin: 4px 6px 0 0;
  transition: 0.3s;
}
.contact .info-item .social-links a:hover {
  color: #ce1212;
}
.contact .php-email-form {
  width: 100%;
  margin-top: 30px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}
.contact .php-email-form .form-group {
  padding-bottom: 20px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #df1529;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #059652;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #ce1212;
}
.contact .php-email-form input {
  height: 48px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type=submit] {
  background: #ce1212;
  border: 0;
  padding: 12px 40px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type=submit]:hover {
  background: lighten-color(#ce1212, 10%);
}

/*section*/
/*hero*/
/*About*/
/*Menu*/
/*Testimonials*/
/* Header */
.header {
  background: #fdcf5d;
  transition: all 0.5s;
  z-index: 997;
  height: calculate-header-height(90px, 70px);
  border-bottom: 1px solid #fff;
}
.header.sticked {
  border-color: white;
}

@media (max-width: 575px) {
  .header {
    height: 70px;
  }
}
.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}
.header .logo h1 {
  font-size: 28px;
  font-weight: 700;
  color: #ce1212;
  margin: 0;
  font-family: var(--font-secondary);
}
.header .logo h1 span {
  color: var(--color-primary);
}

/* Hero Section styles */
.hero {
  width: 100%;
  background-size: cover;
  position: relative;
  min-height: 60vh;
  padding: 160px 0 60px 0;
}

.section-bg {
  background-color: #eee;
}

.hero h2 {
  font-size: 68px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #37373f;
  font-family: "Amatic SC", sans-serif;
}
.hero h2 span {
  color: #ce1212;
}

.hero p {
  color: #4f4f5a;
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 25px;
}

.col-lg-5 img {
  transition: transform 0.3s ease;
}
.col-lg-5 img:hover {
  transform: scale(1.1);
}

.hero .btn-book-a-table {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 36px;
  border-radius: 50px;
  transition: #e9120e;
  color: #fff;
  background: #ce1212;
  box-shadow: #e9120e;
}
.hero .btn-book-a-table:hover {
  background: #ec2727;
  box-shadow: #4f4f5a;
}

i {
  color: #ce1212;
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
}

/*&:hover {
  color: variable.$primary-color;

  i {
    color: hover-color(variable.$primary-color);
  }
}*/
.custom-image {
  max-width: 50%;
  height: auto;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
  height: 100vh;
  background-color: #F8DA8B;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
}

.centered-content {
  text-align: center;
  padding: 20px;
  background-color: #ce1212;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Lalezar", cursive;
  color: black;
}
.centered-content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.centered-image {
  max-width: 120px;
  height: auto;
  margin-bottom: 20px;
}

.custom-container {
  max-width: 800px;
  margin: 0 auto;
}

/* Menu Section styles */
.menu {
  font-family: "Amatic SC", sans-serif;
  font-size: 40px;
  color: var(--color-primary);
  text-align: center;
}
.menu h2 {
  font-family: "Amatic SC", sans-serif;
  font-size: 30px;
  color: #ce1212;
}
.menu p {
  font-family: "Amatic SC", sans-serif;
  font-size: 50px;
  color: #37373f;
}
.menu .ingredients {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  color: #ce1212;
}
.menu .nav-tabs {
  border: 0;
}
.menu .nav-link {
  margin: 0 15px;
  padding: 10px 5px;
  transition: 0.3s;
  color: #ce1212;
  border-radius: 0;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-bottom: 2px solid #b6b6bf;
}
.menu .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}
.menu .nav-link h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.menu .nav-link:hover {
  color: #ec2727;
}
.menu .nav-link.active {
  color: #676775;
  border-color: #676775;
}
.menu .nav-link .tab-content .tab-header {
  padding: 30px 0;
}
.menu .nav-link .tab-content .tab-header p {
  font-size: 14px;
  text-transform: uppercase;
  color: #676775;
  margin-bottom: 0;
}
.menu .nav-link .tab-content .tab-header h3 {
  font-size: 36px;
  font-weight: 600;
  color: #ce1212;
}
.menu .nav-link .tab-content .menu-item {
  text-align-last: center;
  margin-bottom: 15px;
}
.menu .nav-link .tab-content .menu-item .menu-img {
  padding: 0 60px;
  margin-bottom: 15px;
}
.menu .nav-link .tab-content .menu-item h4 {
  font-size: 22px;
  font-weight: 500;
  color: #ce1212;
  font-family: "Inter", sans-serif;
  margin-bottom: 5px;
}
.menu .nav-link .tab-content .menu-item .ingredients {
  font-family: "Inter", sans-serif;
  color: #8d8d9b;
  margin-bottom: 5px;
}
.menu .nav-link .tab-content .menu-item .price {
  font-size: 24px;
  font-weight: 700;
  color: #ce1212;
}
.menu-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Section */
section {
  scroll-margin-top: calculate-header-height(90px, 70px);
}

/* Testimonials Section styles */
.testimonials .section-header h2 {
  margin-bottom: 40px;
  font-family: "Amatic SC", sans-serif;
  font-size: 50px;
  text-align: center;
  color: #9f0e0e;
}
.section-header .p {
  font-family: "Amatic SC", sans-serif;
  color: #37373f;
  font-size: 30px;
}
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item .testimonial-content {
  border-left: 3px solid #ce1212;
  padding-left: 30px;
}
.testimonials .testimonial-item .testimonial-img {
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}
.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #212529;
  font-family: "Inter", sans-serif;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #6c757d;
  margin: 0 0 10px 0;
  font-family: "Inter", sans-serif;
}
.testimonials .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}
.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #f05656;
  font-size: 26px;
  line-height: 0;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  transform: scale(-1, -1);
}
.testimonials .testimonial-item p {
  font-style: italic;
}
.testimonials .swiper-pagination {
  margin-top: 40px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #d1d1d7;
  opacity: 1;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ce1212;
}

/* Desktop Navigation */
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
    background-color: #fdcf5d;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar li {
    position: relative;
  }
  .navbar li > ul {
    left: 28px;
    top: calc(100% + 30px);
  }
  .navbar > ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 600;
    color: #e9120e;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar a:before,
  .navbar a:focus:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #e9120e;
    visibility: hidden;
    width: 0;
    transition: all 0.3s ease-in-out;
  }
  .navbar a:hover:before,
  .navbar li:hover > a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: #000;
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #e6ee09;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  .navbar .dropdown ul li a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }
  .navbar .dropdown ul li a i {
    font-size: 12px;
  }
  .navbar .dropdown ul li a:hover,
  .navbar .dropdown ul li .active:hover > a,
  .navbar .dropdown ul li li:hover > a {
    color: #e9120e;
  }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown ul .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) and (max-width: 1366px) {
  .dropdown .dropdown ul {
    left: -90%;
  }
  .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
@media (min-width: 1280px) {
  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
  .navbar.transparent {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .navbar.transparent.navbar-scrolled {
    background-color: #F8DA8B;
  }
}
/* Mobile Navigation */
@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    border-left: 1px solid #666;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }
  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: rgba(255, 255, 255, 0.9);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9997;
  }
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-secondary);
    border-bottom: 2px solid rgba(158, 148, 67, 0.8);
    font-size: 16px;
    font-weight: 600;
    color: #7f7f90;
    white-space: nowrap;
    transition: 0.3s;
  }
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar a:hover,
  .navbar a li:hover > a,
  .navbar a:focus:hover,
  .navbar a:focus li:hover > a {
    color: #000;
  }
  .navbar .active,
  .navbar .active:focus {
    color: #000;
    border-color: #e9120e;
  }
  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    border: 1px solid #eee;
  }
  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }
  .mobile-nav-show {
    color: var(--color-secondary);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    margin: 0 10px 0 20px;
  }
  .mobile-nav-hide {
    color: var(--color-secondary);
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .navbar .dropdown ul a,
  .navbar .dropdown .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }
  .navbar .dropdown ul a i,
  .navbar .dropdown .dropdown ul a i {
    font-size: 12px;
  }
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover > a,
  .navbar .dropdown ul li:hover > a,
  .navbar .dropdown .dropdown ul a:hover,
  .navbar .dropdown .dropdown ul .active:hover > a,
  .navbar .dropdown .dropdown ul li:hover > a {
    color: #e9120e;
  }
  .navbar .dropdown > .dropdown-active,
  .navbar .dropdown .dropdown > .dropdown-active {
    display: block;
  }
  .navbar .mobile-nav-show {
    color: rgba(158, 148, 67, 0.8);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9997;
    margin: 0 10px 0 20px;
  }
  .navbar .mobile-nav-hide {
    color: rgba(158, 148, 67, 0.8);
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9997;
  }
  .navbar .mobile-nav-active {
    overflow: hidden;
  }
  .navbar .mobile-nav-active .navbar {
    right: 0;
  }
  .navbar .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9996;
  }
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #212529;
  background-image: none;
}
body a {
  color: #ce1212;
  text-decoration: none;
}
body a:hover {
  color: #ec2727;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Inter", sans-serif;
}

@media (max-width: 640px) {
  .hero h2 {
    font-size: 36px;
  }
}
/*@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}*/
/* Gallery Section styles */
.gallery {
  overflow: hidden;
}
.section-header h2 {
  font-family: "Amatic SC", sans-serif;
  font-size: 50px;
  text-align: center;
  color: #9f0e0e;
}
.section-header p {
  font-family: "Amatic SC", sans-serif;
  font-size: 30px;
  color: #4f4f5a;
  text-align: center;
}
.gallery .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.gallery .swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 12px;
  background-color: #d1d1d7;
  opacity: 1;
}
.gallery .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ce1212;
}
.gallery .swiper-slide-active {
  text-align: center;
}
@media (min-width: 992px) {
  .gallery .swiper-slide-active {
    border: 6px solid #ce1212;
    padding: 4px;
    background: #fff;
    z-index: 1;
    transform: scale(1.2);
  }
}
@media (min-width: 992px) {
  .gallery .swiper-wrapper {
    padding: 40px 0;
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Scroll top button styles */
.scroll-top {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 9;
  font-size: 20px;
  color: #fff;
  background: #ce1212;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
  transition: 0.3s;
}
.scroll-top:hover {
  background: #ec2727;
}

/* Centered content styles */
.centered-content {
  text-align: center;
  padding: 20px;
  background-color: #F8DA8B;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
}
.centered-content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.centered-image {
  max-width: 120px;
  height: auto;
  margin-bottom: 20px;
}

/* Search button styles */
.search-button {
  background-color: crimson;
  border-color: crimson;
  color: #fff;
}
.search-button:hover {
  background-color: #9f0e0e;
  border-color: #9f0e0e;
}

/*# sourceMappingURL=home.css.map */
/* Add this CSS to your stylesheet */

/* Style for the info items */
.info-item {
  border: 1px solid #ddd; /* Add a border for a subtle separation */
  padding: 15px;
  transition: background-color 0.3s; /* Add a smooth transition effect for the background color */
}

/* Hover effect for the info items */
.info-item:hover {
  background-color: #f5f5f5; /* Change the background color on hover */
  cursor: pointer; /* Add a pointer cursor on hover */
}

/* Mouse enter effect for the info items */
.info-item.mouse-enter {
  background-color: #e0e0e0; /* Change the background color on mouseenter */
}

/* Mouse leave effect for the info items */
.info-item.mouse-leave {
  background-color: initial; /* Revert the background color on mouseleave */
}
/* Desktop (1280px - 800px) */
@media (min-width: 800px) and (max-width: 1280px) {
  /* Add your desktop styles here */
  body {
    background-color: lightblue;
  }
}

/* Tablet (810px - 1080px) */
@media (min-width: 810px) and (max-width: 1080px) {
  /* Add your tablet styles here */
  body {
    background-color: lightgreen;
  }
}

/* Mobile (375px - 812px) */
@media (min-width: 375px) and (max-width: 812px) {
  /* Add your mobile styles here */
  body {
    background-color: lightcoral;
  }
}

