/* Hero Section styles */
.hero {
    width: 100%;
    background-size: cover;
    position: relative;
    min-height: 60vh;
    padding: 160px 0 60px 0;
  }
  
  .section-bg {
    background-color: #eee;
  }
  
  .hero h2 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #37373f;
    font-family: "Amatic SC", sans-serif;
  
    span {
      color: variable.$primary-color;
    }
  }
  
  .hero p {
    color: #4f4f5a;
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  .col-lg-5 img {
    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.1);
    }
  }
  
    .hero .btn-book-a-table {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 36px;
    border-radius: 50px;
    transition: variable.$btn-transition-speed;
    color: #fff;
    background: variable.$primary-color;
    box-shadow: variable.$box-shadow;
  
    &:hover {
      background: hover-color(variable.$primary-color);
      box-shadow: variable.$btn-hover-box-shadow;
    }
  }
  
  
    i {
      color: variable.$primary-color;
      font-size: 32px;
      transition: 0.3s;
      line-height: 0;
      margin-right: 8px;
    }
  
    /*&:hover {
      color: variable.$primary-color;
  
      i {
        color: hover-color(variable.$primary-color);
      }
    }*/
  
  .custom-image {
    max-width: 50%;
    height: auto;
  }
  
  .centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    height: 100vh;
    background-color: #F8DA8B;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow variable.$transition-duration, transform variable.$transition-duration;
  }
  
  .centered-content {
    text-align: center;
    padding: 20px;
    background-color: variable.$primary-color;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: "Lalezar", cursive;
    color: black;

    &:hover {
        box-shadow: variable.$hover-shadow;
        transform: scale(1.05);
      }
  }
  
  .centered-image {
    max-width: 120px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .custom-container {
    max-width: 800px;
    margin: 0 auto;
  }